.top
{
    color: white;
    text-align: center;
    font-size: 24;
    text-shadow: 0px 5px 10px red;
}

.top:hover
{
    color: white;
    text-align: center;
    font-size: 24;
    text-shadow: 0px 7px 5px black;
}

body
{
    background-image: url(self.jpeg);
    background-position: right top;
    margin-right: 100px;
    background-repeat: repeat-x;
    background-attachment: scroll;
    background-size: 200px;
    
}

.intro
{
    margin-top: 150px;
    width: fit-content;
    aspect-ratio: 1/ 1.2;
    border-style: double;
    border-color: rgb(103 130 240);
    background-color: rgb(225, 231, 255);
    border-width: 10px; 
}

div.INtro
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro:hover
{
    border-color: blue;

}

.Intro
{
    padding-left: 10px;
    padding-right: 10px;
}

img.Intro {
    margin-top: -5px;
    width: 150px;
    aspect-ratio: 1/1;
    border-radius: 80%;
}

h2.Intro
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    text-shadow: 0px 2px 2px darkblue;
    color: cyan;
}